<% if @passenger.errors.any? %>
  <ul class="errors">
    <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @passenger do |f| %>
  <p>Please provide the following information to edit your passenger in our database:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :Phone_number %>
  <%= f.text_field :phone_num %>

  <%= f.submit "#{action_name} passenger" %>
<% end %>