<%= form_with model: @passenger do |f| %>
  <p>Please provide the following information to edit your passenger in our database:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :Phone_number %>
  <%= f.text_field :phone_num %>

  <%= f.submit "#{action_name} passenger" %>
<% end %>