<div>
  <h2>Passenger Name: <%= @passenger.name %></h2>
  some image
  <h3>Phone_number: <%= @passenger.phone_num %> </h3>
  <h3>Total_charged: <%= @passenger.total_charged.nil? ? "N/A": @passenger.total_charged %></h3>

  <button class='tablink'><%= link_to "Edit Passenger", edit_passenger_path(@passenger) %></button>
  
  <button class='tablink'> <%= link_to "Delete Passenger", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"} %>
  <button class='tablink'> <%= link_to 'Create a New Trip', passenger_trips_path(@passenger.id), method: :post %></button>
   
</div>
<div>
  <h2><%= @passenger.name %>'s Trips</h2>
  <table>
    <tr>
      <th>Trip ID</th>
      <th>Trip Date</th>
      <th>Passenger Name</th>
      <th>Driver Name</th>
      <th>Rating</th>
      <th>Cost</th>
    </tr>
    
    <% @trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.id, trip_path(trip.id) %></td>
      <td><%= trip.date %></td>
      <td><%= link_to "#{@passenger.name}", passenger_path(@passenger.id)%></td>
      <td><%= Driver.find_by(id: trip.driver_id) ? (link_to "#{Driver.find_by(id: trip.driver_id).name}", driver_path(trip.driver_id)) : "Deleted Driver"%></td>
      <td><%= trip.rating %></td>
      <td><%= "$#{'%.2f' % (trip.cost/100.00)}" %></td>
    </tr>
    <% end %>
  </table>
</div>

