<%= form_with model: @driver do |f| %>
  <p>Please provide the following information to edit your driver in our database:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :Vin %>
  <%= f.text_field :vin %>

  <%= f.submit "#{action_name} driver" %>
<% end %>