<div>
  <h1>List of Drivers</h1>
  <button class='tablink'><%= link_to 'Create A New Driver', new_driver_path %></button>
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>VIN</th>
      <th>STATUS</th>
    </tr>
    <% @drivers.each do |driver| %>
    <tr>
      <td><%= driver.id %></td>
      <td><%= link_to "#{driver.name}", driver_path(driver.id) %></td>
      <td><%= driver.vin %></td>
      <td><%= driver.available ? "Available" : "Unavailable"%></td>
    </tr>
    <% end %>
  </table>
</div>