
<div>
  <h2>Driver Name: <%= @driver.name %></h2>
  some image
  <h3>VIN: <%= @driver.vin %> </h3>
  <h3> Status: <%= @driver.available ? "Available" : "Unavailable" %> </h3>
  <h3>Total Earning: <%= @driver.total_earned.nil? ? "N/A": @driver.total_earned %></h3>
  <h3>Total Trips: <%= @driver.total_trips.nil? ? "N/A": @driver.total_trips %></h3>
  <h3>Average Rating: <%= @driver.average_rating.nil? ? "N/A": @driver.average_rating %> </h3>

  <button class='tablink'><%= @driver.available ? (link_to 'Make Unavailable', available_driver_path(@driver.id), method: :patch) : (link_to 'Make Available', available_driver_path(@driver.id), method: :patch)%></button> <%# this will toggle availability depending on if the driver is currently on a trip %>
  <button class='tablink'><%= link_to "Edit driver", edit_driver_path(@driver) %></button>
  <button class='tablink'> <%= link_to "Delete Driver", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"} %>
</div>

<div>
  <h2><%= @driver.name %>'s Trips</h2>
  <table>
    <tr>
      <th>Trip ID</th>
      <th>Trip Date</th>
      <th>Passenger Name</th>
      <th>Driver Name</th>
      <th>Rating</th>
      <th>Cost</th>
    </tr>
    
    <% @trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.id, driver_trip_path(trip.id) %></td>
      <td><%= trip.date %></td>
      <td><%= link_to "#{Passenger.find_by(id: trip.passenger_id).name}", passenger_path(trip.passenger_id)%></td>
      <td><%= link_to @driver.name, driver_path(@driver.id) %></td>
      <td><%= trip.rating %></td>
      <td><%= trip.cost %></td>
    </tr>
    <% end %>
  </table>
</div>