<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Rails Ride Share</h1>
    <nav>
      <button class="tablink"> <%= link_to "Home", root_path %> </button>
      <button class="tablink"><%= link_to "Drivers", drivers_path %></button>
      <button class="tablink"><%= link_to "Passengers", passengers_path %></button>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
